body, div, form, h1, h2, h3, h4, h5, h6, p, ol, ul, li, img, table, tr, td, canvas, audio, video,
header, nav, article, aside, footer {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}
article, aside, canvas, details, footer, header, nav {
    display: block;
}
ul, ol {
    list-style: none;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
}
ul, ol {
    list-style: none;
}
body {
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}
